<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index </title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <main id="main-holder">
        <h1 id="index-header">Performance dashboard</h1>
        <div class="modules-links-row">
            <div class="module-links-column">
                <a href="index.html"><img class="img" src="pictures/users.png"></a>
            </div>
            <div class="module-links-column">
                <a href="upload-page.html"><img class="img" src="pictures/stats.png"></a>
            </div>
        </div>
        <div class="modules-links-row">
            <div class="module-links-column">
                <a href="index.html"><img class="img" src="pictures/squat.png"></a>
            </div>
            <div class="module-links-column">
                <a href="index.html"><img class="img" src="pictures/velocity.png"></a>
            </div>
        </div>
    </main>

</body>
</html>